<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Головна сторінка</title>
</head>
<body>

<!--<h2 th:inline="text">Привіт [[${#httpServletRequest.remoteUser}]]!</h2>-->
<!--<form th:action="@{/logout}" method="post">-->
<!--    <input type="submit" value="Вийти"/>-->
<!--</form>-->

<div sec:authorize="!isAuthenticated()" class="nav-item">
    <form th:action="@{/login}">
        <input type="submit" value="Увійти"/>
    </form>
    <form th:action="@{/registration}">
        <input type="submit" value="Реєстрація"/>
    </form>
<!--    <a th:href="@{/login}">Увійти</a><br>-->
<!--    <a th:href="@{/registration}">Реєстрація</a>-->
</div>
<div sec:authorize="isAuthenticated()" >
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Вийти"/>
    </form>
</div>

<table>
    <tr><th>Назва</th><th>Тип товару</th><th>Ціна</th><th></th></tr>
    <tr th:each="el: ${products}" class="alert alert-into mt2">
        <td th:text="${el.name}"></td>
        <td th:text="${el.typeProduct}"></td>
        <td th:text="${el.price}"></td>
        <td><form th:action="'/' + ${el.id} + '/remove'" method="post">
            <button type="submit">Видалити</button>
        </form></td>
    </tr>
</table>

<div sec:authorize="isAuthenticated()">
    <a href="/addProduct">Добавити товар</a>
</div>


</body>
</html>